.category-page-container {
  margin: 5%;
  padding: 0%;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 90%;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px; /* 设置圆角 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.category-page-container ul {
  list-style-type: none;
  padding-left: 5%;
  margin: 5%;
  text-align: left;
  font-size: 20px;
}

.category-page-container li {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc; /* 添加下划线 */
  /* padding-bottom: 5px; /* 添加内边距以确保下划线与内容之间有间距 */
}

.category-page-container li button {
  margin-left: 10px;
  background-color: gray;
  color: white;
  border: none;
  border-radius: 10%;
  font-size: 11px;
  cursor: pointer;
}

.category-page-container a {
  text-decoration: none;
  color: #333;
}

.category-page-container a:hover {
  text-decoration: underline;
}

.del-category-button {
  top: 6%;
  float: right;
  font-size: 16px;
  padding: auto;
  cursor: pointer;
  background-color: #ae0c01;
}

.del-category-button:hover {
  background-color: #ff0000;
}
