.category {
  margin: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px; /* 设置圆角 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.category-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
}

.category-header h3 {
  color: #333;
}

/* Add Button Style------------------------ */
.category-buttons {
  /* width: 5%; */
  margin-left: 1%;
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.add-button,
.delete-button {
  color: white;
  border: none;
  border-radius: 10%;
  width: 3%;
  /* height: 2%; */
  font-size: 16px;
  line-height: 0px;
  /* text-align: center; */
  cursor: pointer;
}

.add-button:hover {
  background-color: gray;
}

.delete-button {
  background-color: #dc3545;
  color: white;
}

.delete-button:hover {
  background-color: #c82333;
}

/* Category List Style -------------------- */
.category ul {
  list-style-type: none;
  padding-left: 5%;
  margin: 5%;
  text-align: left;
  width: 85%;
  font-size: 14px;
}

.category li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.category li button {
  background-color: gray;
}

.category li button:hover {
  background-color: #333;
}

.category a {
  flex: 1;
  text-decoration: none;
  color: #333;
}

.category a:hover {
  text-decoration: underline;
}

.more-subcategories {
  display: inline-block;
  margin-top: 10px;
  color: #999;
}

/* showmodal ---------------------------- */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 30%;
  text-align: center;
  color: black;
}

.modal-content h3 {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.modal-buttons {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 10px; /* 按钮之间的间距 */
}

.confirm-button,
.cancel-button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.confirm-button {
  background-color: #28a745;
  color: white;
}

.confirm-button:hover {
  background-color: #218838;
}

.cancel-button {
  background-color: #6c757d;
  color: white;
}

.cancel-button:hover {
  background-color: #5a6268;
}
